<footer class="pt-10">
    <div class="w-full max-w-xl mx-auto p-4 md:p-8">
        <a href="/">
            <img src="/logo.svg" alt="Hildefonso Muñoz logo" width="40">
        </a>
        <div>
            <small> &copy; {new Date().getFullYear()} Hildefonso Muñoz.</small>
        </div>
    </div>
</footer>