<main class="max-w-7xl mx-auto">
    <div class="min-h-screen flex flex-col justify-center relative pt-20">
        <div>
            <span class="tracking-widest text-orange-400 text-sm mb-2 block font-bold">
                ANALISTA DE DESARROLLO
            </span>

            <h1 class="text-5xl sm:text-6xl font-extrabold leading-tight">
                HOLA, SOY <br />
                <span class="text-orange-400 uppercase">
                    Hildefonso
                </span>
            </h1>

            <p class="text-gray-300 text-lg mt-6 mb-8 leading-relaxed max-w-xl">
                Desarrollador Full Stack y Analista de Soluciones TI.
                Especializado en construir aplicaciones web robustas y escalables, integrando lógica de backend sólida con interfaces modernas.
            </p>

            <div class="flex gap-4">
                <a
                    href="/#projects"
                    class="px-8 py-3 bg-orange-500 hover:bg-orange-600 rounded-full font-semibold transition-all"
                >
                    Ver Proyectos
                </a>

                <a
                    href="mailto:jildo.air@gmail.com"
                    class="px-8 py-3 border border-gray-600 hover:bg-gray-800 rounded-full font-semibold transition-all"
                >
                    Contacto
                </a>
            </div>

            <div class="w-32 h-1 bg-orange-500 mt-10"></div>
        </div>
    </div>
    <div
        class="absolute top-0 right-0 w-[124vh] opacity-0 md:opacity-100 -z-10"
    >
        <img src="https://res.cloudinary.com/ddixstnte/image/upload/v1767568410/arbol_jildo_cia1df.webp" alt="Retrato de Hildefonso Muñoz" />
    </div>
</main>
