<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Portafolio</title>
		<meta name="description" content="Portafolio de Hildefonso Muñoz" />
		<meta name="keywords" content="portfolio, Hildefonso Muñoz, web developer, UI/UX designer" />
		<meta name="author" content="Hildefonso Muñoz" />
		<meta name="robots" content="index, follow" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
